h1 {
  color: #2c3e50;
  text-align: center;
  margin-top: 30px;
}
p {
  text-align: center;
  color: #34495e;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline;
}